---
layout: default
onepage: true
works:
  - path: _works/diff-foods.md
  - path: _works/sketch-book.md
  - path: _works/tv-video.md
    style: wide
  - path: _works/umbrella-beauty.md
  - path: _works/amber.md
  - path: _works/explore.md
  - path: _works/uro-mag.md
    style: wide
  - path: _works/flowers.md
members:
  - avatar: /assets/images/@stock/member-7.png
    name: Lily Jebari
    position: Founder
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
    desc:
      "As the founder and CEO of Wrap, and as an interactions and visual design specialist, she knows that user- centred and easy-to-use design is an essential way to distinguish a good product and an awesome product."
  - avatar: /assets/images/@stock/member-9.png
    name: Mark Wayne
    position: Creative Director
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
      - link: http://dribbble.com
        icon: dribbble
    desc:
      "Mark started designing web sites back in 1992. Since then, he has worked for a wide range of digital agencies in the UK and America. At Wrap, Mark’s role means solving all kinds of visual design problems."
  - avatar: /assets/images/@stock/member-8.png
    name: Clare Watson
    position: Front-end Developer
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
      - link: http://tumblr.com
        icon: tumblr
    desc:
      "Clare is a senior front-end developer here at Wrap, specialises in building blocks of the web: HTML, CSS, and JavaScript. She has almost ten years experiencs in the front-end development."
  - avatar: /assets/images/@stock/member-4-4.png
    name: Jone Bucan
    position: Senior Designer
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
    desc:
      "Jone started designing web sites back in 1992. Since then, he has worked for a wide range of digital agencies in the UK and America. At Wrap, Jone’s role means solving all kinds of visual design problems."

team_slides:
  - /assets/images/@stock/slide-full-1.jpg
  - /assets/images/@stock/slide-full-8.jpg
  - /assets/images/@stock/slide-full-11.jpg
  - /assets/images/@stock/slide-full-10.jpg

testimonials:
  - quote: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author:
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-1.png'
      position: 'Designer at Huglab'
  - quote: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing."
    author:
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-2.png'
      position: 'Designer at Huglab'
  - quote: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author:
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-3.png'
      position: 'Designer at Huglab'

clients:
  - /assets/images/@stock/client-1.png
  - /assets/images/@stock/client-2.png
  - /assets/images/@stock/client-3.png
  - /assets/images/@stock/client-4.png

  - /assets/images/@stock/client-5.png
  - /assets/images/@stock/client-6.png
  - /assets/images/@stock/client-7.png
  - /assets/images/@stock/client-2.png

  - /assets/images/@stock/client-3.png
  - /assets/images/@stock/client-4.png
  - /assets/images/@stock/client-1.png
  - /assets/images/@stock/client-6.png
---

<div class='full no-padding parallax home-video-wrapper'>
  <div class='fullscreen'>
    <video autoplay='autoplay' id='fullscreen-video' loop='loop'>
      <source src='{{ "/assets/images/@stock/cover-video.optimized.mp4" | relative_url }}' type='video/mp4'>
    </video>
    <div class='overlay'></div>
    <div class='layer'>
      <p class="small-title">Make the right choice </p>
      <h1 class='thin' id="to-be-update">
         <span class="fir">Too fast</span><br/>
         <span class="sec">Too wild</span><br/>
         <span class="thir">Too different</span>
      </h1>
      <h2 class='thin'>
       This is wrap, a creative digital company, creating solutions for any visual identity project, espetically for digital experiences and brand identities.
       {% assign nav_obj = site.data.nav | where:'section_id','works' | first %}
       <a href='{{ "index.html" | append:nav_obj.path | relative_url }}'>View our works</a>
      </h2>
    </div>
  </div>
</div>


<!--about-->



<!--about-->




<div class="full no-overflow no-padding parallax" style="background-image: url({{ "/assets/images/@stock/about-1.jpg" | relative_url }})">
  <div class="right-half">
    <div class="two spacing"></div>
    <div class="section-header alt white">
      <h2>About</h2>
    </div>
    <p class="light">Kronin Cloud is an experienced and nimble consulting firm focused on cloud solutions.
    Our team brings decades of experience to help support our customers through their entire cloud journey,
    from scoping out the best solution during the sales cycle to delivering that solution on-time and on-budget.</p>
    <p class="light">Whether you are looking for IT Support, installing updates, moving to the cloud or upgrading your IT network.
    Kronin Cloud will work with you to make sure your IT infrastructure is reliable, secure and running smoothly.
    Ensuring your team is productive 24x7.</p>
    <div class="two spacing"></div>
    <a href="#services" class="button small">Get Started</a>
    <div class="three spacing"></div>
  </div>
</div>

<!--services-->

<section class="services" id="services">
  <h2 class="services_title">Services</h2>
  <h3 class="services_subtitle ">Lorem ipsum dolor sit amet consectetur.</h3>

  <div class="members">

      <div class="small-3 columns">
        <div class="member-avatar">
          <span class="services_icon">
              <i class="fa fa-twitter"></i>
          </span>
          <h4 class="services_columns_heading">Best Practices</h4>
          <p class="services_columns_text">Shows you best practices in cloud implementations that are relevant to you.</p>
        </div>
      </div>

      <div class="small-3 columns">
        <div class="member-avatar">
          <span class="services_icon">
              <i class="fa fa-twitter"></i>
          </span>
          <h4 class="services_columns_heading">Cost Savings</h4>
          <p class="services_columns_text">Identify specific savings and benefits the cloud will bring to your business.</p>
        </div>
      </div>

      <div class="small-3 columns">
        <div class="member-avatar">
          <span class="services_icon">
              <i class="fa fa-twitter"></i>
          </span>
          <h4 class="services_columns_heading">Cloud Ready Candidates</h4>
          <p class="services_columns_text">Identify services and applications that can cost-effectively move to the cloud to reduce the On-Premise software burden on your infrastructure.</p>
        </div>
      </div>

      <div class="small-3 columns">
        <div class="member-avatar">
          <span class="services_icon">
              <i class="fa fa-twitter"></i>
          </span>
          <h4 class="services_columns_heading">Risk Factors</h4>
          <p class="services_columns_text">We’ll indicate the risks and what can be done to minimize them, and address concerns surrounding security, scalability and accessibility.<br>
          Implementation Strategy: Outlines a custom implementation roadmap and impact on your legacy applications.</p>
        </div>
      </div>
      <div class="small-3 columns">
        <div class="member-avatar">
          <span class="services_icon">
              <i class="fa fa-twitter"></i>
          </span>
          <h4 class="services_columns_heading">Monitoring</h4>
          <p class="services_columns_text">We offer full-stack monitoring services that helps organizations manage and optimize the applications and other IT infrastructure hosted on the cloud.</p>
        </div>
      </div>

      <div class="small-3 columns">
        <div class="member-avatar">
          <span class="services_icon">
              <i class="fa fa-twitter"></i>
          </span>
          <h4 class="services_columns_heading">Seamless integration</h4>
          <p class="services_columns_text">Seamless integration – we can provide both ‘Cloud to Cloud’ and ‘Cloud to Ground’ integration, to both new and legacy systems. Our effective back-end integration provides you with a single, real-time view of your customers and products. We can also manage the successful migration of your data.</p>
        </div>
      </div>

      <div class="small-3 columns">
        <div class="member-avatar">
          <span class="services_icon">
              <i class="fa fa-twitter"></i>
          </span>
          <h4 class="services_columns_heading">Cloud security</h4>
          <p class="services_columns_text">Cloud security duties including design, planning, management, maintenance and support. Identify and work through cloud security issues such as authentication, APIs, system vulnerabilities, web services, DoS attacks, and multi-tenant risk.</p>
        </div>
      </div>

      <div class="small-3 columns">
        <div class="member-avatar">
          <span class="services_icon">
              <i class="fa fa-twitter"></i>
          </span>
          <h4 class="services_columns_heading">Training</h4>
          <p class="services_columns_text">Microservices, Cloud native applications, Containers, Kubernetes are what most organizations are thinking about these days. Cloud Native Computing Foundation is assembling projects that help with building cloud native applications. We can give training on kubernetes, aws or most of the cloud solutions.</p>
        </div>
      </div>

  </div>
</section>

<!--services-->


<a id='works'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="take a look" title="What we recently do." %}
    </div>
  </div>
</div>
<div class='full no-padding' id="demo-1-works">
  <div class='mod modMasonryGallery'>
    <ul class='gallery'>

      {% for item in page.works %}

        {% assign work = site.works | where:"path",item.path | first %}

        {% if item.style == 'wide' %}
          {% assign class = 'wide' %}
          {% assign width = 1000 %}
          {% assign height = 350 %}
        {% else %}
          {% assign class = '' %}
          {% assign width = 500 %}
          {% assign height = 350 %}
        {% endif %}

        <li class="{{class}}">
          <a href='{{ work.url | relative_url }}'>
            <img width="{{width}}" height="{{height}}" alt="" src="{{ work.thumbnail | relative_url }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.title | downcase | capitalize }}</h3>
                <p>{{ work.categories | join:" & " | escape }}</p>
              </div>
            </div>
          </a>
        </li>

      {% endfor %}

    </ul>
  </div>
</div>
<div class='full dark no-padding '>
  <div class="four spacing"></div>
  <div class='row'>
    <div class='large-8 columns'>
      <h3 class="white">Customized to meet your needs.</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur inventore minimar.
      </p>
    </div>
    <div class='large-4 columns'>
      <p>
        <a class='button small boxed' href='#'>Download Now</a>
      </p>
    </div>
  </div>
  <div class='two spacing'></div>
</div>


<a id='team'></a>
<div class='full dark-grey'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="The team" title="Hello! This is us." %}
    </div>
  </div>
</div>
<div class="full dark-grey no-padding">
  <div class="members">
    {% for member in page.members %}
      <div class="small-3 columns">
        <div class='member-avatar'>
          <img class="avatar" alt="" src="{{ member.avatar | relative_url }}" />
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="full no-padding team-bg">
  <div class="div member-decs">
    {% for member in page.members %}
      <div class="large-3 columns">
        <div class='member-dec'>
          <div class='intro'>
            <h3>{{ member.name | escape }}</h3>
            <h4>{{ member.position | escape }}</h4>
            <p>{{ member.desc | escape }}</p>
            <ul class='socials'>
              {% for social in member.socials %}
                <li>
                  <a href='{{ social.link }}'>
                    <i class='fa fa-{{ social.icon }}'></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="four spacing"></div>
</div>
<div class="full no-padding">
  <div class='mod modBoxedSlider' data-timeout='1500'>
    <div class='slides'>
      {% for image in page.team_slides %}
        <div class='slide'>
          <img width="1200" height="800" alt="" src="{{ image | relative_url }}" />
        </div>
      {% endfor %}
    </div>
  </div>
</div>




<div class='full no-overflow no-padding parallax' style="background-image: url({{ "/assets/images/@stock/customers-bg.jpg" | relative_url }})">
  <div class="left-half">
    <div class="two spacing"></div>
    <div class="row">
      <div class="section-header alt white">
        <h2>What our clients say</h2>
      </div>
      <div class='mod modTestimonials simple'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items'>
              {% for t in page.testimonials %}
                <div class='item'>
                  <p class='quote'>{{ t.quote }}</p>
                  <div class="two spacing"></div>
                  <div class='author'>
                    <p class='author-avatar'>
                      <img width="80" height="80" alt="" src="{{ t.author.avatar | relative_url }}" />
                    </p>
                    <p class='author-name'>
                      -
                      <strong>{{ t.author.name }}</strong>
                      {%- if t.author.position %}, {{ t.author.position }}{% endif %}
                    </p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="we are happy" title="Certifications" %}
    </div>
  </div>
</div>
<div class="full no-padding">
  <div class="clients">
    <div class='row'>
      {% for client in page.clients %}
        <div class='large-3 medium-6 small-6 columns'>
          <div class="client">
            <a href="javascript:void(0)"><img alt="" src="{{ client | relative_url }}" /></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="four spacing"></div>
</div>

<div class="four spacing"></div>
<a id='contact'></a>
{% include contact-form.html %}

{% include social-networks.html %}
