<div class="full no-padding dark my-footer">

  <div id="footer" class='centered-text'>
    <div class='row'>
      <div class='large-12 columns'>
        <h4>©{{site.time | date: "%Y" }} Wrap theme. All rights reserved.</h4>
      </div>
    </div>
  </div>

</div>


  <script src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js" >
  </script >
<script src="{{ site.baseurl }}/bower_components/jquery.lazy.min.js" >
  </script >
<script >
    $('.lazy').lazy({
        effect: "fadeIn",
        effectTime: 200,
        threshold: 0
    });
</script>

<script>
function loadCSS(hf) {
    var ms = document.createElement("link");
    ms.rel = "stylesheet";
    ms.href = "https://fonts.googleapis.com/css?family=Raleway:400,700,300";
    document.getElementsByTagName("head")[0].appendChild(ms);
}
</script>

<script>
    function loadCSS(hf) {
        var ms = document.createElement("link");
        ms.rel = "stylesheet";
        ms.href = "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
        document.getElementsByTagName("head")[0].appendChild(ms);
    }
</script>

<script>
    function loadCSS(hf) {
        var ms = document.createElement("link");
        ms.rel = "stylesheet";
        ms.href = "/assets/css/font-awesome.css";
        document.getElementsByTagName("head")[0].appendChild(ms);
    }
</script>



<!-- Load Scripts -->
<script >var scr = {
    "scripts": [
      {% for path in site.data.assets.js %}

        {%- if path contains '://' -%}
          {%- assign src = path -%}
        {%- else -%}
          {%- assign src = path | relative_url -%}
        {%- endif -%}
        {"src": "{{ src }}", "async": false},
      {% endfor %}


    ]
};
!function (t, n, r) {
    "use strict";
    var c = function (t) {
        if ("[object Array]" !== Object.prototype.toString.call(t)) return !1;
        for (var r = 0; r < t.length; r++) {
            var c = n.createElement("script"), e = t[r];
            c.src = e.src, c.async = e.async, n.body.appendChild(c)
        }
        return !0
    };
    t.addEventListener ? t.addEventListener("load", function () {
        c(r.scripts);
    }, !1) : t.attachEvent ? t.attachEvent("onload", function () {
        c(r.scripts)
    }) : t.onload = function () {
        c(r.scripts)
    }
}(window, document, scr);
</script>
<script defer>

document.addEventListener("DOMContentLoaded", function() {
  var lazyBackgrounds = [].slice.call(document.querySelectorAll(".lazy-background"));

  if ("IntersectionObserver" in window) {
    let lazyBackgroundObserver = new IntersectionObserver(function(entries, observer) {
      entries.forEach(function(entry) {
        if (entry.isIntersecting) {
          entry.target.classList.add("visible");
          lazyBackgroundObserver.unobserve(entry.target);
        }
      });
    });

    lazyBackgrounds.forEach(function(lazyBackground) {
      lazyBackgroundObserver.observe(lazyBackground);
    });
  }
});
document.addEventListener("DOMContentLoaded", function() {
  var lazyVideos = [].slice.call(document.querySelectorAll("video.lazy"));

  if ("IntersectionObserver" in window) {
    var lazyVideoObserver = new IntersectionObserver(function(entries, observer) {
      entries.forEach(function(video) {
        if (video.isIntersecting) {
          for (var source in video.target.children) {
            var videoSource = video.target.children[source];
            if (typeof videoSource.tagName === "string" && videoSource.tagName === "SOURCE") {
              videoSource.src = videoSource.dataset.src;
            }
          }

          video.target.load();
          video.target.classList.remove("lazy");
          lazyVideoObserver.unobserve(video.target);
        }
      });
    });

    lazyVideos.forEach(function(lazyVideo) {
      lazyVideoObserver.observe(lazyVideo);
    });
  }
});
</script>
{% if site.service_worker %}
<script async>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('{{ "/sw.js" | relative_url }}').then(function( registration ) {
      console.log('ServiceWorker registration successful with scope: ', registration.scope);
    })
    .catch(function(error) {
      console.log('ServiceWorker registration failed: ', error);
    });
  }
</script>
{% endif %}
