---
---
.services{
  display: table;
  width: 100%;
  text-align: center;
}
.clients .columns{
  float: left!important;
}
.clients_img{
  max-height: 70px;
  margin: 0 10px;
}
.clients_name{
  margin-top: 15px;
}

#portfolio{
  background-color: #f7f7f7;
  padding: 70px 0;
}
.portfolio_block{
  background-color: white;
  display: table;
  width: 100%;
  position: relative;
}
.portfolio-heading{
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 40px;
}
.portfolio-subheading{
  margin-bottom: 75px;
  text-transform: none;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}
.portfolio_name{
    font-weight: 600;
    font-style: normal;
    color: #333;
    text-rendering: optimizeLegibility;
    margin: 35px 0 40px 0;
    text-align: center;
}
.portfolio-img{
  display: table;
  margin: 25px auto 5px auto;
  max-height: 120px;
}

.portfolio_block:hover .portfolio_hover{
    background: rgba(0, 0, 0, 0.8);
    transform:  translate(0, 0) scaleY(1);
    cursor: pointer;
    transition: 0.s all;
}

.portfolio_block:hover .portfolio_hover_icon{
  transform:  rotateX(0) translate(-50%, -50%) scale(1);
  top: 50%;
}
.portfolio_hover_icon, .portfolio_open:hover .portfolio_hover_icon{
  position: absolute;
  left: 50%;
  top: 0;
  transform:  rotateX(180deg) translate(-50%, -50%) scale(0.3);
  font-size: 25px;
  color: #fed136;
  transition: 1.3s all;
}
.portfolio_hover, .portfolio_open:hover .portfolio_hover{
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0, -50%) scaleY(0);
  width: 100%;
  height: 100%;
  transition: 0.3s all;

}
.portfolio_open:hover .portfolio_hover{
  transition: 0.0s all;
}
.portfolio_title{
    margin: 15px 0;
    font-size: 34px;
    border-bottom: 1px solid #ecf0f1;
    padding-bottom: 25px;
    display: none;
}
.portfolio_open{
  position: fixed;
  text-align: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 999999;
}
.portfolio_open .portfolio_name{
  display: none;
}
.portfolio_open .portfolio_center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.portfolio_open .portfolio-img{
  max-height: 170px;
  margin: 0 auto 5px auto
}
.portfolio_paragraph{
  text-align: left;
  margin: 25px 0 15px 0;
  font-weight: 600;
  color: black;
  padding-left: 20px;
  display: none;
}
.portfolio_paragraph-center{
    text-align: center;
}
.portfolio_close:hover{
  color: black;
}
.portfolio_list{
  display: none;
}
.portfolio_list li{
  text-align: left;
  margin: 10px 0;
}

.portfolio_close{
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
  color: #999;
  font-size: 28px;
  display: none;
  z-index: 999;
}
.portfolio_open .portfolio_close, .portfolio_open .portfolio_list, .portfolio_open .portfolio_paragraph, .portfolio_open .portfolio_title{
  display: block;
}

#portfolio .small-4{
  margin: 1.07143rem auto;
}
.identity-login-link{
  float: left;
}
.my-social, .my-about{
  position: relative;
}

.my-social:after, .my-about:after{
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.my-social:after{
  background: linear-gradient(90deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0) 70.71%);
  z-index: 1;
}
.my-about:after{
    /* background: linear-gradient(90deg, rgba(45, 67, 98, .8), rgba(255, 255, 255, .2), rgba(0, 0, 0, 0.3) 70.71%); */
    background: linear-gradient(90deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0) 50.71%);
    z-index: 1;
}
.right-half{
  z-index: 99;
}
.top-bar{
  z-index: 9999;
}
.boxed{
  padding-left: 35px!important;
  padding-right: 35px!important;
  transition: 0.7s all;
}
.services_icon{
    background-color: transparent;
    border: 3px solid rgb(0, 172, 237)!important;
}
.section-header h2::after, .section-header h3::after, .fullscreen .layer h1::after,
.section-title p.small-title::after{
  background: rgb(0, 172, 237)!important;
}
.button{
  background-color: transparent!important;
  color: rgb(0, 172, 237)!important;
  border: 2px solid rgb(0, 172, 237)!important;
}
.button:hover{
  background-color: rgb(0, 172, 237)!important;
  color: white!important;
}

p.small-title, .thin a, .portfolio_hover_icon{
  color: rgb(0, 172, 237)!important;
}
.big-social i{
  box-sizing: border-box!important;
  margin-bottom: 0!important;
  background-color: transparent!important;
  border: none!important;
  position: relative;
  z-index: 3;
  padding: 0!important;
}

.big-social span{
  box-sizing: content-box;
    font-size: 2.5714285714rem;
    width: 2.5714285714rem;
    height: 2.5714285714rem;
    display: inline-block;
    padding: 15px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    -webkit-transition: all, 0.2s, linear;
    -moz-transition: all, 0.2s, linear;
    transition: all, 0.2s, linear;
    position: relative;
    border: 3px solid rgb(0, 172, 237)!important;
    margin-bottom: 30px;
}
.big-social span:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  background-color: transparent;
  z-index: 2;
  box-shadow: 0px 0px 0px rgb(0, 172, 237);
  transition: 0.3s all;
}
.big-social span:hover:after{
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 172, 237)!important;
  box-shadow: 0px 0px 45px rgb(0, 172, 237);

}

.big-social i:hover{
  background-color: transparent!important;
}
.services_icon img{
  width: 60%;
  margin-bottom: 20px;
}

.logo{
  width: 100px!important;
  margin-left: 15px;
}
.netlify-identity-button{
  color: rgb(0, 172, 237)!important;
}
.identity-login-link{
    margin-top: 5px;
}
.shrink .logo{
  width: 75px!important;
  margin-top: 5px;
}
.shrink .identity-login-link{
  /* margin-top: 2px; */
}
.right li a:hover{
  color: rgb(0, 172, 237)!important;
}

@media only screen and (max-width: 767px) {
  .portfolio_open .portfolio_center{
    position: relative;
    transform: translate(0, 0);
    margin:  0 auto;
    padding: 5px 15px 50px 15px;
    left: 0;
    top: 0;
    max-width: 450px;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
  }

  #portfolio .small-4{
    width: 100%;
    max-width: 450px;
    margin: 25px auto;
    float: none!important;
  }
}

@media only screen and (max-width: 500px) {
  .clients_img{
    height: 45px;
    margin: 0 10px;

  }
}
